
# Java
target/
*.class
*.jar

# Maven
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/

# Docker
docker-data/

# Temporary
*.tmp

# resource
application.yml
